<div class="home-container">
    <div class="form-box">
    <h2>Cadastro</h2>
    <form #regristrarForm="ngForm" (ngSubmit)="onRegistrar()">
        <input
        type="text"
        name="nome"
        placeholder="Nome"
        [(ngModel)]="nome"
        required
        />
        <input
        type="email"
        name="email"
        placeholder="Email"
        [(ngModel)]="email"
        required
        />
        <input
        type="endereco"
        name="endereco"
        placeholder="Endereco"
        [(ngModel)]="endereco"
        required
        />
    <div class="buttons">
        <button type="submit" class="btn primary">Cadastrar</button>
    </div>
    </form>
    <div *ngIf="mensagem" style="margin-top:10px;">{{ mensagem }}</div>
  </div>
</div>
