@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body {
  font-family: 'Roboto', sans-serif;
  background-color: #323131;
  margin: 0;
  padding: 0;
}

.form-box {
  font-family: 'Roboto', sans-serif;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

p {
  color: #1b1b1b;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
  color:  #1b1b1b;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.btn {
  flex: 1;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn.primary {
  background-color: #007bff;
  color: white;
}

.btn.primary:hover {
  background-color: #0056b3;
}

.btn.secondary {
  background-color: #6c757d;
  color: white;
}

.btn.secondary:hover {
  background-color: #5a6268;
}