@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body {
  font-family: 'Roboto', sans-serif;
  background-color: #323131;
  margin: 0;
  padding: 0;
}

.tab-header {
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: 16px 0;
  border-bottom: 2px solid #ccc;
}

.tab {
  font-family: 'Roboto', sans-serif;
  margin: 0 20px;
  font-weight: 600;
  font-size: 16px;
  color: #1b1b1b;
  cursor: pointer;
  padding-bottom: 4px;
}


.tab-content {
  padding: 20px;
  background-color: #f5f5f5;
}
