@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body {
  font-family: 'Roboto', sans-serif;
  background-color: #323131;
  margin: 0;
  padding: 0;
}

.form-container h2 {
  font-family: 'Roboto', sans-serif;
  color: #1b1b1b;
  text-align: center;
  margin-bottom: 2px
}

.form-container {
  max-width: 90%;
  width: 100%;
  padding: 20px 40px;
  background: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin: auto;
}


input, textarea {
  display: block;
  width: 100%;
  margin-bottom: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

input:focus, textarea:focus {
  border-color: #4285f4;
  outline: none;
  box-shadow: 0 0 5px rgba(66, 133, 244, 0.3);
}

button {
  padding: 12px 24px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  background-color: #4285f4;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

button[type="button"] {
  background-color: #aaa;
}

button:hover {
  opacity: 0.9;
}

.botoes {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}


.alert {
  padding: 12px 16px;
  margin-bottom: 16px;
  border-radius: 4px;
  font-weight: bold;
  width: 100%;
  box-sizing: border-box;
}

.sucesso {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.erro {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}