html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.alert-danger-ocorrencia {
    background-color: #ED961C!important;
    color:#FFF!important;
    font-weight: bold;
}

.alert-danger-concluído {
    background-color: #84fabf!important;
    color:#2b2b2b!important;
    font-weight: bold;
}
